module_2/Classification_data/
module_2/**/__pycache__/
module_2/**/*.pyc
module_2/**/*.log
module_2/**/__init__.py
module_2/.ruff_cache/
module_2/**/.ipynb_checkpoints/
module_2/**/wandb/
module_2/**/logs/


**/__pycache__/
**/*.pyc
**/*.pyo

**/*.log
**/*.ckpt
**/*.pt
**/*.pth
**/.ipynb_checkpoints/

**/wandb/
**/wandblogs/
**/logs/

**/.ruff_cache/
**/__init__.py

module_3/**/checkpoints/
module_3/FasterRCNN/checkpoints/
module_3/DETR/checkpoints/
module_3/dataset/